.no-scroll-grid {
  overflow: auto; //hidden for no-scroll 
  height: auto; 
}

.allocationTypesHeader {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.8rem;
}

.mb-2 {
  margin-bottom: 0.8rem;
}

.no-margin-row {
  margin: 0; 
  padding: 0;
}

.vertical-align-center td {
  vertical-align: middle; /* Vertically center content inside <td> */
}
