.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.header-buttons {
  display: flex;
  gap: 1rem; /* Space between the buttons */
}

.no-scroll-grid {
  overflow: auto; //hidden for no-scroll
  height: auto;
}

.allocation-types-grid {
  margin-bottom: 0.8rem;
  margin-top: 0.8rem;
}

.vertical-align-center td {
  vertical-align: middle;
}
