.description {
  white-space: pre-wrap;
}

.filterBar {
  top: 5px;
  z-index: 30;
}

.filtersHidden {
  height: 0px;
  overflow: hidden;
  transition: height 0.5s ease-out;
}

.filtersVisible {
  height: auto;
  transition: height 0.5s ease-out;
}
